* {
	box-sizing: border-box;
	
}
body {
	background-color: #3888F9;
}

/*TOP NAVEGATION BAR*/
.top-nav {
	background-color: #000;
}

.nav-bar {
	display: flex;
	font-size: 30px;
	padding: 5px 20px;
}

.nav-bar a {
	text-decoration: none;
	color: #fff;
	margin: 3px;
}

.nav-toggle {
	margin-left: auto;
	cursor: pointer;
	padding: 5px;
	color: #fff;
}

.nav-list-collapse {
	display: none;
}


.nav-list a {
	text-decoration: none;
	list-style: none;
	color: #fff;
}
